@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #020617;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-image: url(../images/bg-illustration.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    width: 38%;
    height: auto;
    margin: 0 0 2rem 10rem;
}

input {
    padding: 1.5rem 20rem 1.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}
input::placeholder {
    padding-left: 1rem;
    margin: 0.5rem -15rem 0.5rem 1rem;
}
form {
    border: 2px solid #4061db;
    border-radius: 15px;
    background-color: #020617;
}
button {
    margin-right: 0.3rem;
    padding: 1.2rem 2rem 1.2rem 2rem;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #4061db;
}

.hide {
    display: none;
}

.image-container {
    position: absolute;
    top: 4rem;
    left: -6rem;
}
#qr-code-container {
    background-color: #212c4e;
    padding: 5rem 10rem 15rem 10rem;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr {
    background-color: white;
    border: 1px solid red;
    padding: 8rem 8rem 8rem 8rem;
    margin-top: 10rem;
    position: absolute;
    border-radius: 10px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
#download {
    padding: 1.2rem 3.5rem 1.2rem 2rem;
    background-image: url("../images/icons8-download-64.png");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 17% bottom 45%;
}
#share {
    padding: 1.2rem 3.5rem 1.2rem 2rem;
    background-image: url("../images/icons8-chain-48.png");
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: right 17% bottom 45%;
}


@media screen and (max-width: 730px) {
    .container {
        text-align: center;
        margin-right: 5rem;
    }
    img {
        margin: 0 0 2rem 4rem;
    }
    form {
        margin: 0rem 2rem 0rem 2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    button {
        padding: 1.2rem 2rem 1.2rem 2rem;
    }
    input {
        padding: 1.5rem 1rem 1.5rem 1rem;
        /* margin: 0 -0.2rem 0 -9rem; */
    }
  }